@import url('https://fonts.googleapis.com/css?family=Carter+One');

* {
    margin: 0;
    user-select: none;
}

body {
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.difficulty {
    display: flex;
    align-items: center;
    height: 24%;
    flex-flow: column;
    justify-content: space-around;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    user-select: none;
}

.scoreboard {
    position: absolute;
    font-family: 'Carter One', sans-serif;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    outline: none !important;
    font-size: 20px;
    line-height: 1.5em;
    max-width: 400px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #fff !important;
    background-color: #00000082;
    padding: 8px;
    border-radius: 8px;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.your-position {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.49) !important;
}

.color-list {
    max-width: 217px;
    flex-flow: wrap;
    height: fit-content;
    padding: 6px;
    border-radius: 4px;
    background-color: #00000082;
}

.color-list-title {
    font-family: 'Carter One', sans-serif;
    font-size: 15px;
    color: #fff !important;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
}